/*Estrutura do site*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    background: #fff url(/Imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(/Imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px ;
}

.logo{
    background: url(/Imagens/logo.png) no-repeat;
    width: 152px;
    height: 66px;
    text-indent: -3003px;
}

/*BARRA DE NAVEGAÇÃO SUPERIOR*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li{
    float: left;
}

#topo li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.4em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(/Imagens/divisor.png) no-repeat left;
    cursor: pointer;
    font-weight: bold;
}

    /*retirar a barra de imagem do primeiro link*/

#topo li.link1 a{
    background: none;
}

#topo ul a:hover{
    color: #b10333;
    font-weight: bold;
    background: whitesmoke;
}

   /*Marcar o link em que a página se encontra*/
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#inter,
body.galeria #navegacao a#galeria
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*CONTEÚDO DO SITE*/

#conteudo{
    background-color: rgb(159, 159, 217);
    margin-top: 60px;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}


#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}



/*CAIXA*/

.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(Imagens/fundo-caixa.png);
}

h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    letter-spacing: 0.5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*Formatação do menu lateral*/

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: black;
}

#lateral ul a:hover{
    color: #a1a1a1;
    cursor: pointer;
    background: url(Imagens/marcador.png) no-repeat left;
    padding-left: 22px;
}

label{
    display: block;
    cursor: pointer;
    font-weight: bold;
}

input{
    font-size: 0.9em;
    background-color: #fff;
    margin-top: 5px;
}

input.submit{
    width: 80px;
    padding: 4px;
    background-color: #b10333;
    color: white;
    border: solid 2px #870529;
    font-weight: bold;
}

/*Formatação das imagens*/
img.imagem-principal{
    border: 3px solid #dfdfdf;
    width: 98%;
    margin-top: 5px;
}

/*Formatação de Cabeçalho*/

h3{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 3px;
    display: inline;
}

/*Formatação do paragrafo*/
.caixa-conteudo p{
    font-size: 0.9em;
}


/*Formatação do link*/
.caixa-conteudo a{
    font-size: 0.8em;
}


.destaques h3{
    background: #b10333;
    color: white;
}

/*FORMATANDO LISTA DE NOTÍCIAS*/
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
    font-size: 0.8em;
}

#lista-noticias li a h3{
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p{
    color: black;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/*RODAPE*/

#rodape{
    clear: both;
    background: #712967;
    padding: 20px;
}

#rodape2{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    
}